
body {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 80px;
  margin-bottom: 80px;
}

h1 {
  color: #383838;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 900;
}

form {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  margin-right: 30px;
  padding: 10px 20px;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  font-size: 18px;
}

input:focus {
  outline: none;
  border-color: #bf3939;
}

.addButton {
  color: #bf3939;
  font-weight: bold;
  border-color: #bf3939;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px 30px;
  text-align: center;
  font-size: 18px;
  background-color: #fcede8;
}

.addButton:hover {
  color: white;
  background-color: #bf3939;
}

.removeButton {
  color: #bf3939;
  text-decoration: underline;
  font-size: 18px;
  border-style: none;
  float: right;
  background-color: white;
}

#gridContainer {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 30px;
  grid-gap: 35px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
  border-color: #f0eeeb;
  border-style: outset;
  box-shadow: 5px 5px 10px #d4d3cf;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
